<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
</head>
<body>
  <div class="page-header">
    <h1>Alta de cuentas y clientes</h1><br>
  </div>
  <div ng-app="myApp" ng-controller="myController">
    <button ng-click="toggleCuentaSueldo()" class="btn">Crear cuenta sueldo</button>
    <form ng-hide="crearCuentaSueldo" name="altaCuentaSueldo" novalidate 
    ng-submit="altaCuentaSueldo.$valid && submitCuentaSueldo()">
    Numero de cuenta: <input type="number" ng-model="cs.numeroCuenta" required><br>
    DNI: <input type="number" ng-model="cs.dni" required><br>
    Saldo inicial: <input type="cs.number" ng-model="cs.saldo" required><br>
    Nombre titular: <input type="text" ng-model="cs.nombreTitular" required><br>
    Nombre empresa: <input type="text" ng-model="cs.nombreEmpresa" required><br>
    <p>Cuentas sueldo creadas: {{counterSueldo}}</p>
    <input class="btn btn-primary" type="submit" value="Agregar cuenta suelo">
  </form>
  <button ng-click="toggleCuentaCorriente()" class="btn">Crear cuenta corriente</button>
  <form ng-hide="crearCuentaCorriente" name="altaCuentaCorriente" novalidate 
  ng-submit="altaCuentaCorriente.$valid && submitCuentaCorriente()">
  Numero de cuenta: <input type="number" ng-model="cc.numeroCuenta" required><br>
  DNI: <input type="number" ng-model="cc.dni" required><br>
  Saldo inicial: <input type="number" ng-model="cc.saldo" required><br>
  Giro en rojo: <input type="number" ng-model="cc.giroEnRojo" required><br>
  Nombre titular: <input type="text" ng-model="cc.nombreTitular" required><br>
  <p>Cuentas corriente creadas: {{counterCorriente}}</p>
  <input class="btn btn-primary" type="submit" value="Agregar cuenta corriente">
  </form>
  <button ng-click="toggleCliente()" class="btn">Crear cliente</button>
  <form ng-hide="crearCliente" name="altaCliente" novalidate 
  ng-submit="altaCliente.$valid && submitCliente()">
  Numero de cuenta corriente: <input type="number" ng-model="cliente.numeroCuentaCorriente" required><br>
  Numero de cuenta sueldo: <input type="number" ng-model="cliente.numeroCuentaSueldo" required><br>
  <p>Clientes creados: {{counterCliente}}</p>
  <input class="btn btn-primary" type="submit" value="Agregar cliente">
  </form>

  <table ng-hide="tablaClientes">
    <thead>
      <tr>
        <th width="200">ID Cliente</th>
        <th width="200">Numero cuenta corriente</th>
        <th width="200">Numero cuenta sueldo</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cliente in clientes">
        <td>{{cliente.id}}</td>
        <td>{{cliente.numeroCuentaCorriente}}</td>
        <td>{{cliente.numeroCuentaSueldo}}</td>
      </tr>
    </tbody>
  </table>  


</div>
<script>
var app = angular.module('myApp', []);
app.controller('myController', function($scope) {
  $scope.clientes = [];
  $scope.counterSueldo = 0;
  $scope.counterCorriente= 0;
  $scope.counterCliente= 0;
  $scope.crearCuentaSueldo = true;
  $scope.crearCuentaCorriente = true;
  $scope.crearCliente = true;
  $scope.tablaClientes = true;

  $scope.toggleCuentaSueldo = function() {
    $scope.crearCuentaSueldo = !$scope.crearCuentaSueldo;
  };

  $scope.toggleCuentaCorriente = function() {
    $scope.crearCuentaCorriente = !$scope.crearCuentaCorriente;
  };

  $scope.toggleCliente = function() {
    $scope.crearCliente = !$scope.crearCliente;
  };

  $scope.submitCuentaSueldo = function() {
    $scope.counterSueldo++;
  };

  $scope.submitCuentaCorriente = function() {
    $scope.counterCorriente++;

  };
  $scope.submitCliente = function() {
    if ($scope.tablaClientes) {
      $scope.tablaClientes = false;
    }
    $scope.counterCliente++;
    var objCliente = {'id': $scope.counterCliente, 'numeroCuentaCorriente': $scope.cliente.numeroCuentaCorriente, 'numeroCuentaSueldo': $scope.cliente.numeroCuentaSueldo};
    $scope.clientes.push(objCliente);

  };
});
</script> 
</body>
</html>